.hours {
  font-size: 31px;
  font-weight: 300;
}
section {
  cursor: pointer;
  border-radius: 20px;
  margin: 16px;
  padding-top: 36px;
  background-repeat: no-repeat;
  background-position: 255px -11px;
}
.innerSection {
  border-radius: 20px;
  background-color: hsl(235, 46%, 20%);
  padding: 30px 25px;
}
.innerSection:hover {
  background-color: hsl(246, 80%, 60%);
}
h4 {
  font-weight: 400;
}
.up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1190px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
  }
  section {
    flex: 210px;
    height: 222px;
    margin: 16px;
    padding-top: 36px;
    background-position: 135px -9px;
  }
  section:hover {
    padding-top: 0;
    transition: 0.7s;
  }
  .innerSection {
    padding: 30px 25px;
  }
  .innerSection:hover {
    padding: 48px 25px;
    transition: 0.7s;
  }
  .up {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .hours {
    font-size: 61px;
  }
}
