@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Rubik', sans-serif;
  Font-size: 18px;
  background-color: hsl(226, 43%, 10%);
  color: white;
}
span {
  font-size: 15px;
  color: hsl(236, 100%, 87%);
}