@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  background-color: hsl(226, 43%, 10%);
  color: white;
  padding: 60px 0;
}
span {
  font-size: 15px;
  color: hsl(236, 100%, 87%);
}
@media screen and (min-width: 768px) {
  body {
    padding: 11% 7%;
  }
  .container {
    width: 1200px;
    height: 200px;
    display: grid;
    grid-template-areas: 'navv mainn';
  }
}
